.container {
	background-color: var(--most-black);
	min-height: 100vh
}

.tips_header {
	font-style: italic;
	color: var(--most-black);
	filter: drop-shadow(3px 5px 0px var(--charcoal));
	font-size: 4rem;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: -0.02rem;
	margin: 4rem 0;
}

.header_container {
	background: linear-gradient(315deg, var(--light-charcoal), var(--charcoal));
	height: 50vh;
	display: grid;
	place-items: center;
	text-align: center;
}

.header_container p {
	color: var(--white);
	font-size: larger;
	margin-bottom: 2em;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.nav_list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 5px;
	list-style: none;
}

.nav_list a {
	text-decoration: none;
	color: var(--black);
	margin: 5px;
	padding: 5px;
	font-style: italic;
}

.about {
    background: linear-gradient(315deg, var(--red), var(--orange));
	color: var(--most-black);
	text-align: center;
	padding: 5vh 0;
	height: 25vh;
	display: grid;
	place-items: center;
}

.about p {
    padding: 0 15vw;
    line-height: 30px;
    text-align: center;
}
 
.header_container a {
    text-decoration: none;
    color: var(--most-black);
    background: linear-gradient(315deg, var(--red), var(--orange));
    padding: 10px;
    border-radius: 5px;
	margin-top: 2rem;
}

.header_container a:hover {
    cursor: pointer;
	background: linear-gradient(315deg, var(--off-white), var(--white));
}

.demo_creds {
	color: var(--white);
    text-align: center;
    padding: 10px;
	height: 25vh;
	display: grid;
	place-items: center;
}